# Файлы с переменными окружения
.env
.env.*
!.env.example  # НО исключить .env.example (если нужен шаблон)
!.env.sample   # Исключить файлы-примеры
bridge.*
__pycache__/
database/
load_env.bat
sessions/
.vscode/launch.json
files/